body{
    margin-bottom: 0px;
    color: rgb(10, 8, 8);

}
footer{

    display: flex;
    flex-direction: row;
    color: azure;
    height: 10vh;
    background-image: linear-gradient(to right, rgb(31, 18, 54), rgb(63, 1, 63));
    justify-content: space-between;
    
    position:sticky;
    bottom:0;
    width:100%;
    height:60px;
    p{
        align-self: center;
    }
    ul{
       
        list-style-type: none;
        
        li{
            display: inline;
            margin: 50px 10px;
            font-size: medium;
            font-weight: 400;

            a{
                color: beige;
                text-decoration: none;
            }
        }
    }
}