h1 {
  text-align: center; }

form {
  display: flex;
  flex-direction: column;
  margin-left: 30vw;
  border-radius: 20px;
  width: 40vw;
  background-image: linear-gradient(to right, #ba53ff, #47199e, #09005c);
  justify-content: space-around; }
  form input {
    margin: 20px;
    border: 0vh;
    margin: 20px;
    height: 5vh;
    border-radius: 5px;
    border-bottom: 2px solid #00ffdd; }
  form button {
    width: 100px;
    align-self: center;
    margin-bottom: 5vh;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    font-weight: 600;
    background-image: linear-gradient(to left, #ffdddd, #0fbbbb, white); }
  form button:hover {
    transition: ease-in-out;
    transform: scale(1.08);
    background-image: linear-gradient(to left, #ffdddd, rgba(184, 146, 219, 0.479), white); }

.googleAuth {
  background-color: #3937b4;
  color: white;
  margin-left: 30vw;
  border-radius: 20px;
  width: 40vw;
  text-align: center;
  padding: 10px; }
  .googleAuth a {
    font-size: 1.3rem;
    padding: 4px;
    text-decoration: none;
    color: azure; }
