header {
  display: flex;
  flex-direction: row;
  color: white;
  background-image: linear-gradient(to right, #471e47, #150863, #8a15ce);
  justify-content: space-between; }
  header h1 {
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  header ul {
    list-style-type: none; }
    header ul li {
      display: inline;
      margin: 50px 10px;
      font-size: large;
      font-weight: 400; }
      header ul li a {
        color: beige;
        text-decoration: none; }
